.card-contact {
    margin: 50px auto;
    width: 70%;
    padding: 30px 30px;
}

.float {
    position: relative;
    float: left;
    width: 150px;
    display: block;
}

.text {
    position: relative;
    float: left;
    display: inline;
}

.theme {
    background-color: #59aaa5;
    color: white;
    border-color: #59aaa5;
}

body {
    background-color: #ececec;
}